
  
  .body {
    font-family: sans-serif;
  }
  
  .header {
    height: 58px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #212529;
  }
  
  /*.navArea {
    display: fixed;
    color: white;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 58px;
    color: plum;
    background-color: purple;
  }*/
  
  .menus {
    display: inline-block; /*was originally flex*/
    list-style: none;
  }
  
  .menuItems {
    display: fixed;
    position: relative;
    font-size: 30px;
  }
  

  .menuItems button {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    border: none;
    background-color: none;
    cursor: pointer;
    width: 300px;
    text-align: center;
    padding: 10px;
  }
  
  .menuItems a {
    text-align: center;
    padding: 10px;
    background-color:none;
    display: block;
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .menuItems button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    /*text-decoration: underline;*/
    border: solid white;
    border-width: 1px;
  }

  .menuItems a:hover{
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    border: solid white;
    border-width: 1px;
  } 

  .arrow::after {
    content: "";
    display: inline-block;
    margin-left: 0.28em;
    vertical-align: 0.09em;
    border-top: 0.42em solid;
    border-right: 0.32em solid transparent;
    border-left: 0.32em solid transparent;
  }
  