/*Services Header*/
.servicesHeader {
    /*background*/
    background-image: URL("images/worldNew.jpg");
    background-position: 50%;
    /*text*/
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;
    /*page*/
    padding: 70px;
    width: 100%;
    height: fit-content;
    border: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 60px;
  }  


.collapsible {
    background-color: rgb(255, 255, 255);
    color: rgb(135, 70, 176);
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: middle;
    outline: none;
    font-size: 20px;
  }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgb(0, 0, 0);
  }
  
  /* Style the collapsible content. Note: hidden by default */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .header {
    background-color: rgb(255, 255, 255);
    color: rgb(135, 70, 176);
    font-weight: bold;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: middle;
    outline: none;
    font-size: 40px;
  }

  .Title {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 30px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 60px;
  }

