
.collapsible {
    background-color: rgb(255, 255, 255);
    color: rgb(135, 70, 176);
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
  }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgb(0, 0, 0);
    background-position: 50%;
  }

  /*individual page formating*/
     /*Managed IT*/
     .manageHeader {
      /*background*/
      background-image: URL("images/supportNew.jpg");
      background-position: 50%;
      /*text*/
      color:white;
      font-weight: bold;
      -webkit-text-stroke: 0px;
      -webkit-text-stroke-color: black;
      /*page*/
      padding: 60px;
      width: 100%;
      height: fit-content;
      border: none;
      text-align: center;
      vertical-align: middle;
      outline: none;
      font-size: 60px;
    }  

  /*cybersecurity*/
  .cyberHeader {
    /*background*/
    background-image: URL("images/codingNew.jpg");
    background-position: 50%;
    /*text*/
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;
    /*page*/
    padding: 90px;
    width: 100%;
    height: fit-content;
    border: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 60px;
  }

   /*project mgmt*/
  .projectHeader {
    /*background*/
    background-image: URL("images/projectNew.jpg");
    background-position: 50%;
    /*text*/
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;
    /*page*/
    padding: 60px;
    width: 100%;
    height: fit-content;
    border: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 60px;
  }

   /*strategy*/
   .strategyHeader {
    /*background*/
    background-image: URL("images/StratNew.jpg");
    background-position: 50%;
    /*text*/
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: black;
    /*page*/
    padding: 60px;
    width: 100%;
    height: fit-content;
    border: none;
    text-align: center;
    vertical-align: middle;
    outline: none;
    font-size: 60px;
  }  

   /*transformation*/
   .tfHeader {
        /*background*/
        background-image: URL("images/advanceNew.jpg");
        background-position: 50%;
        /*text*/
        color:white;
        font-weight: bold;
        -webkit-text-stroke: 0px;
        -webkit-text-stroke-color: black;
        /*page*/
        padding: 60px;
        width: 100%;
        height: fit-content;
        border: none;
        text-align: center;
        vertical-align: middle;
        outline: none;
        font-size: 60px;
  }  

 /*about*/
    .aboutHeader {
      /*background*/
      background-image: URL("images/charlestonNew.jpg");
      background-position: 50%;
      /*text*/
      color:white;
      font-weight: bold;
      -webkit-text-stroke: 0px;
      -webkit-text-stroke-color: black;
      /*page*/
      padding: 60px;
      width: 100%;
      height: fit-content;
      border: none;
      text-align: center;
      vertical-align: middle;
      outline: none;
      font-size: 60px;
    }  

     /*contact*/
     .contactHeader {
          /*background*/
          background-image: URL("images/laptopNew.jpg");
          background-position: 50%;
          /*text*/
          color:white;
          font-weight: bold;
          -webkit-text-stroke: 0px;
          -webkit-text-stroke-color: black;
          /*page*/
          padding: 60px;
          width: 100%;
          height: fit-content;
          border: none;
          text-align: center;
          vertical-align: middle;
          outline: none;
          font-size: 60px;
        }  

    
.heading { 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 0px;
    width: auto;
    border: none;
    text-align: center;
    outline: none;
    font-size: 60px;
  }

 .Body { 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0px;
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
    border: none;
    text-align: Left;
    overflow-wrap: normal;
    outline: none;
    font-size: 15px;
  }

  .Body2 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    position: sticky;
    overflow-wrap: normal;
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
    border: none;
    text-align: left;
    font-size: 15px;
  }

  .Body3 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    position: sticky;
    overflow-wrap: normal;
    padding-left: 150px;
    padding-right: 150px;
    width: auto;
    border: none;
    text-align: left;
    font-size: 15px;
  }

  .Body4 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: bold;
    position: sticky;
    overflow-wrap: normal;
    padding-left: 125px;
    padding-right: 150px;
    width: auto;
    border: none;
    text-align: left;
    font-size: 15px;
  }

  
  .Body5 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: inline-block;
    overflow-wrap: normal;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 5px;
    width: auto;
    border: none;
    text-align: left;
    font-size: 15px;
  }

  .Body6 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: inline-block;
    overflow-wrap: normal;
    padding-left: 175px;
    padding-right: 150px;
    padding-bottom: 5px;
    width: auto;
    border: none;
    text-align: left;
    font-size: 15px;
  }

  .subhead1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    overflow-wrap: normal;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    width: auto;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
  }

  .responsive {
    column-count: 1;
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  /*cards*/
  .smallCard {
    background-color: white;
    color:black;
    text-align: center;
    padding: 0px;
    height: auto;
  }

  /*headshots*/
  .smallCard {
    background-color: white;
    color:black;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    height: auto;
  }

  .smallActCard {
    background-color: white;
    color:black;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-left: 2px;
    padding-right: 2px;
    height: auto;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.smallActCard:hover {
  background-color: blueviolet;
  background-position: 50%;
  color: white;
}

  .largeCard {
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow-wrap: normal;
    outline: none;
    font-size: 15px;
    padding: 0;
    height: auto;
  }

  .leftCard {
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    text-align: left;
    font-size: 15px;
    padding: 0;
    margin: 0 auto;
    height: auto;
    margin: 10px;
  }
  
  .subHeadCard {
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    text-align: Left;
    vertical-align: middle;
    overflow-wrap: normal;
    padding: 0;
    padding-top: 0px;
    height: auto;
    font-weight: bold;
    overflow-wrap: normal;
    text-align: center;
    font-size: 20px;
  }

  /*single-column card for line*/
 .smallLine {
    background-color: black;
    color:black;
    text-align: center;
    height: 2px;
  }
  .singleCards {
    max-width: 75%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  
  .cards {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

    
  .multiCards {
    max-width: 75%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .imgCards {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 600px? 2 column */
@media (max-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .imgCards { grid-template-columns: repeat(3, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .imgCards { grid-template-columns: repeat(3, 1fr); }
}

/* Screen larger than 600px? 1 column */
@media (min-width: 600px) {
   .singleCards { grid-template-columns: repeat(1, 1fr); }
  }

/* Screen larger than 600px? 6 column */
@media (min-width: 700px) {
  .multiCards { grid-template-columns: repeat(6, 1fr); }
}

/* Screen smaller than 600px? 3 column */
@media (max-width: 700px) {
  .multiCards { grid-template-columns: repeat(3, 2fr); }
}