.bkImg {
  height: 100vh;
  background-color: white;
  background-image: linear-gradient(
    to bottom, transparent, white
  ),url('/bkDesk.png');
  background-repeat: no-repeat;
  position: center;
}

.bkContact {
  height: 100%;
  background-color: white;
  background-image: linear-gradient(
    to top, transparent, white
  ),url('/bkCoffee.jpg');
  background-repeat: no-repeat;
  position: center;
}

.aStyle {
  font-weight: 700;
  font-size: 17px;
  text-decoration: underline;
}

.pStyle {
  font-weight: 400;
  padding-bottom: 20px;
  border-bottom: white solid 2px;
}

.pStyleBot {
  font-weight: 400;
}

.menus {
  display: inline-block; /*was originally flex*/
  list-style: none;
}

.menuItems {
  display: fixed;
  position: relative;
  font-size: 30px;
}


.menuItems button {
  color: inherit;
  font-size: inherit;
  font-weight: bold;
  border: none;
  background-color: none;
  cursor: pointer;
  width: 300px;
  text-align: center;
  padding: 10px;
}

.menuItems a {
  text-align: center;
  padding: 10px;
  background-color:none;
  display: block;
  font-size: 22px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.menuItems button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: URL("/circuitSmall.png");
  /*text-decoration: underline;*/
  border: solid white;
  border-width: 1px;
}

.menuItems a:hover{
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: URL("/circuitSmall.png");
  background-position: 20% 40%;
  border: solid white;
  border-width: 1px;
} 

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

/*individual page header formating*/
/*Services Header*/
.servicesHeader {
  /*background*/
  background-image: URL("images/aerialNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 40px;
  width: 100%;
  height: fit-content;
  border-top: 2px blueviolet solid;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}  

/*contact*/
.contactUsHeader {
  /*background*/
  background-image: URL("images/laptopNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 40px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
} 

  /*Managed IT*/
  .manageHeader {
  /*background*/
  background-image: URL("images/supportNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}  

/*cybersecurity*/
.cyberHeader {
  /*background*/
  background-image: URL("images/cyberNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}

/*project mgmt*/
.projectHeader {
  /*background*/
  background-image: URL("images/projectNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}

/*strategy*/
.strategyHeader {
  /*background*/
  background-image: URL("images/StratNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}  

/*transformation*/
.tfHeader {
  /*background*/
  background-image: URL("images/advanceNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;        
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}  

/*about*/
.aboutHeader {
  /*background*/
  background-image: URL("images/riverNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}  

/*about*/
.approachHeader {
  /*background*/
  background-image: URL("images/bridgeNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
} 

/*contact*/
.supportHeader {
  /*background*/
  background-image: URL("images/emergencyNew.jpg");
  background-position: 50%;
  /*text*/
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 0px;
  -webkit-text-stroke-color: black;
  /*page*/
  padding: 50px;
  width: 100%;
  height: fit-content;
  border: none;
  text-align: center;
  vertical-align: middle;
  outline: none;
  font-size: 60px;
}  


/*cards*/
.smallCard {
  background-color: none;
  color:black;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
  height: auto;
}

.cyberSmallCard {
  background-color: black;
  background-position: 20%;
  color:white;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  height: auto;
  width: 250px;
  font-size: 14px;
  border: black solid 2px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.servSmallCard {
  background-color: rgba(255, 255, 255, 0.6);
  background-position: 20%;
  color: black;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 10px;
  height: auto;
  width: 350px;
  font-size: 14px;
  border: blueviolet solid 1px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.servSmallCard1 {
  background-color: rgba(98, 29, 163);
  background-image: URL("/circuitNew.png"), linear-gradient(270deg, black, blueviolet);
  background-position: 20%;
  color:white;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 4px;
  padding-right: 4px;
  height: auto;
  width: 250px;
  font-size: 14px;
  border: white solid 1px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.servSmallCard2 {
  background-color: rgba(98, 29, 163);
  background-image: URL("/circuitNew.png"), linear-gradient(90deg, black, blueviolet);
  background-position: 70%;
  color:white;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
  padding-left: 4px;
  padding-right: 4px;
  height: auto;
  width: 250px;
  font-size: 14px;
  border: white solid 1px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.servImg {
  width: inherit;
  height: auto;
  border-bottom: lightcyan 4px;
  border-style: solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.aServStyle {
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

.pServStyle {
  font-weight: 400;
}

.footerCard {
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  height: auto;
}

.projectCard { 
  background-image: URL("/circuitSmall.png"), linear-gradient(180deg, black, teal);
  background-position: 30%;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  height: Auto;
  width: 110px;
  border: solid black 1px;
  border-radius: 5px;
}

.projectCard:hover{
  background-image: URL("/circuitSmall.png"), linear-gradient(0deg, black, teal);
}

.projectCardB { 
  background-image: linear-gradient(180deg, black, teal);
  background-position: 70%;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  height: Auto;
  width: 110px;
  border: solid black 1px;
  border-radius: 5px;
}

.projectCardB:hover{
  background-image: URL("/circuitSmall.png"), linear-gradient(0deg, black, teal);
}

.projectCardC { 
  background-image: URL("/circuitSmall.png"), linear-gradient(180deg, black, teal);
  background-position: 50%;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  height: Auto;
  width: 110px;
  border: solid black 1px;
  border-radius: 5px;
}

.projectCardC:hover{
  background-image: URL("/circuitSmall.png"), linear-gradient(0deg, black, teal);
}

.contactCard {
  background-image: URL("/circuitNew.png");
  background-position: 40% 40%;
  background-color: black;
  color:white;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  border: 2px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.contactCard:hover {
  background-position: 20% 20%;
  background-color: blueviolet;
  background-image: URL("/circuitNew.png");
  color: white;
  border-radius: 25px;
  transition: 0.5s ease;
  border: 2px solid black;
}

.serviceCard {
  background-color: white;
  color:blueviolet;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 80px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid black;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.serviceCard:hover {
  background-color: blueviolet;
  background-image: URL("/circuitSmall.png");
  color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.largeCard {
  background-color: none;
  color: rgb(0, 0, 0);
  text-align: center;
  overflow-wrap: normal;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 75px;
  padding-right: 75px;
  height: auto;
}

.longCard {
  background-color: none;
  color: white;
  text-align: center;
  overflow-wrap: normal;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  width:800px;
}
.shortCard {
  background-color: none;
  color: white;
  text-align: center;
  overflow-wrap: normal;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  height: auto;
  width:auto;
}

.hugeCard {

  background-image: URL("/circuitNew.png"), linear-gradient(45deg, black, blueviolet);
  color: white;
  text-align: center;
  overflow-wrap: normal;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 75px;
  padding-right: 75px;
  height: auto;
  width: auto;
  border: solid black 1px;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.hugeCardTeal {
  background-image: URL("/circuitNew.png"), linear-gradient(45deg, black, teal);
  color: white;
  text-align: center;
  overflow-wrap: normal;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 75px;
  padding-right: 75px;
  height: auto;
  width: auto;
  border: solid black 1px;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.buttonCard {
  background-color: none;
  color: blueviolet;
  text-align: center;
  overflow-wrap: normal;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  height: auto;
  font-weight: 600;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.buttonCard:hover {
  text-decoration: underline;
}

.leftCard {
  background-color: none;
  color: rgb(0, 0, 0);
  border: none;
  text-align: left;
  font-size: 15px;
  padding: 0;
  margin: 0 auto;
  height: auto;
  margin: 10px;
}

.subHeadCard {
  background-color: none;
  color: rgb(0, 0, 0);
  border: none;
  text-align: Left;
  vertical-align: middle;
  overflow-wrap: normal;
  padding: 0;
  padding-top: 0px;
  height: auto;
  font-weight: bold;
  overflow-wrap: normal;
  text-align: center;
  font-size: 20px;
}

.divideCard {
  background-color: none;
  color: none;
  text-align: center;
  height: 2px;
}

.smallLine {
  background-color: black;
  color:black;
  text-align: center;
  height: 2px;
}

.singleCards {
  max-width: 75%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Screen larger than 600px? 1 column */
@media (min-width: 600px) {
  .singleCards { grid-template-columns: repeat(1, 1fr); }
}

.priApprCards {
  background-image: URL("/circuitNew.png"), linear-gradient(90deg, black, blueviolet);
  background-position: 0%;
  max-width: 75%;
  margin: auto;
  display: flex;
  gap: 10px;
  border-radius: 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

  /* Screen larger than 600px? 2 column */
  @media (min-width: 1200px) {
    .priApprCards { grid-template-columns: repeat(2, 1fr); }
  }

  /* Screen larger than 900px? 3 columns */
  @media (min-width: 1200px) {
    .priApprCards { grid-template-columns: repeat(2, 1fr); }
  }

.priApprCards:hover{
  background-image: URL("/circuitNew.png"), linear-gradient(270deg, black, blueviolet);
}

.secApprCards {
  background-image: URL("/circuitNew.png"), linear-gradient(270deg, black, rgb(169, 84, 15));
  background-position: 100% 20%;
  color: white;
  text-align: center;
  max-width: 75%;
  margin: auto;
  display: flex;
  gap: 10px;
  border-radius: 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

  /* Screen larger than 600px? 2 column */
  @media (min-width: 1200px) {
    .secApprCards { grid-template-columns: repeat(2, 1fr); }
  }

  /* Screen larger than 900px? 3 columns */
  @media (min-width: 1200px) {
    .secApprCards { grid-template-columns: repeat(2, 1fr); }
  }

  .secApprCards:hover{
    background-image: URL("/circuitNew.png"), linear-gradient(90deg, black, rgb(169, 84, 15));
  }
  

.cards {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 600px? 2 column */
@media (max-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

.dubCards {
  max-width: 75%;
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

  /* Screen larger than 600px? 2 column */
  @media (min-width: 1200px) {
    .dubCards { grid-template-columns: repeat(2, 1fr); }
  }

  /* Screen larger than 900px? 3 columns */
  @media (min-width: 1200px) {
    .dubCards { grid-template-columns: repeat(2, 1fr); }
  }


.guarCards {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
    
/* Screen larger than 600px? 5 column */
@media (min-width: 700px) {
  .guarCards { grid-template-columns: repeat(5, 1fr); }
}

/* Screen smaller than 600px? 3 column */
@media (max-width: 700px) {
  .guarCards { grid-template-columns: repeat(2, 2fr); }
}

/* Screen smaller than 600px? 3 column */
@media (max-width: 500px) {
  .guarCards { grid-template-columns: repeat(1, 2fr); }
}

.projCards {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 0.25rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
    
/* Screen larger than 600px? 5 column */
@media (min-width: 900px) {
  .projCards { grid-template-columns: repeat(6, 1fr); }
}

/* Screen smaller than 600px? 3 column */
@media (max-width: 900px) {
  .projCards { grid-template-columns: repeat(3, 2fr); }
}

/* Screen smaller than 600px? 3 column */
@media (max-width: 500px) {
  .projCards { grid-template-columns: repeat(1, 2fr); }
}

.imgCards {
  max-width: 75%;
  margin: auto;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .imgCards { grid-template-columns: repeat(3, 1fr); }
  }

  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .imgCards { grid-template-columns: repeat(3, 1fr); }
  }
  

.footerCards {
  background-color: black;
  Width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 0px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* Screen larger than 600px? 2 column */
@media (min-width: 700px) {
  .footerCards { grid-template-columns: repeat(1, 1fr); }
}

/* Screen smaller than 600px? 2 column */
@media (max-width: 700px) {
  .footerCards { grid-template-columns: repeat(1, 1fr); }
}