@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
    list-style-type:disc;
    list-style-position: outside;
  }

ul {
    list-style-position: outside;
  }

  /* please start using tailwinds */